<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Example 6 | Curso de VueJS</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <script src="vue.js"></script>

    </head>
    <body id="app">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <template v-if="name">
                <h1>
                    {{ gender == 'm' ? 'Bienvenido' : 'Bienvenida' }}, {{ name }}
                </h1>

                <p>Espero que disfrutes tu visita</p>
                <p>Tu nombre al revés es: {{ name.split('').reverse().join('') }}
            </template>
            <p v-else>Por favor escribe tu nombre:</p>

            <form @submit="signUp(false, $event)">
                <input type="text" v-model="name" class="form-control">

                <p v-if="name == ''" class="alert alert-danger">
                    Este campo es obligatorio
                </p>

                <label>
                    Hombre: <input type="radio" v-model="gender" value="m">
                </label>

                <label>
                    Mujer: <input type="radio" v-model="gender" value="f">
                </label>

                <!-- Mostrar varias tecnologias, segun un array de un elemento del obj vue, este lo recorre, e imprime con este ciclo, siempre de sigular a plural. -->
                <template v-for="tech in techs">

                    <years-exp :years.sync="tech.years" :tech="tech.name"></years-exp>
                    <!-- Importante usar la directiva v-bind  o los dos : y usar el modificador sync-->
                </template>

              

                <p v-show="name">
                    <button type="submit" class="btn btn-primary">
                        Regístrate
                    </button>

                    <button type="submit" class="btn btn-primary" @click="signUp(true, $event)">
                        Regístrate y sal del sistema
                    </button>
                </p>
            </form>

             <hr>
                <form @submit.prevent="createTech" class="form">
                
                <textarea v-model="new_tech.name" class="form-control"></textarea>
                <!--En esta parte llama el model, para saber que este es el va aplicar directamente el metodo createTech. -->

                <button type="submit" class="btn btn-primary"> Agregar Tecnologia</button>
                </form>
                <hr>
            <hr>

            <pre>{{ $data | json }}</pre>
        </div>
    </div>

    <script type="text/template" id="years_template">
        <p>¿Cuántos años de experiencia tienes con {{ tech }}?</p>

        <p>
            Respuesta: <strong>{{ years }}</strong>

            <button type="button"
                    class="btn"
                    @click="add">+</button>

            <button type="button"
                    :disabled="years == 0"
                    class="btn"
                    @click="sub">-</button>
        </p>
    </script>

    <script type="text/javascript">

        Vue.component('years-exp', {
            template: '#years_template',
            methods: {
                add: function () {
                    this.years++;
                },
                sub: function () {
                    this.years--;
                },
            },
            props: ['years', 'tech']
        });

        new Vue({
            el: "#app",
            data: {
                name: "",
                gender: 'm',
                techs: [ //se declara el array, el cual el ciclo en la linea 47, recorre.
                    {name: 'PHP', years: 0},
                    {name: 'JS', years: 0},
                    {name: 'HTML', years: 0},
                    {name: 'CSS', years: 0},
                ],
                new_tech: {name:'',years:0}//este picho esta ligado con el texarea que es el elmento que va guardar la nueva nota que despues se va usar en el metodo create Note
            },
            methods: {
                signUp: function (logout, event) {
                    event.preventDefault();

                    alert(this.name + ', por favor espera mientras te registramos.');

                    if (logout) {
                        alert("Saliendo del sistema...");
                    }
                },
                createTech: function(){
                this.techs.push(this.new_tech)//cada vez que se usa este metodo, va agregar al array de techs, la new tech.

                this.new_tech={tech:'',years:0}
                //despues de agregar el array, deje el array con valores po defecto.
                },
            }
        });
    </script>
    </body>
</html>




